
\.vscode/

data-structures/stack/stack

data-structures/stack/stack_array

data-structures/queue/queue

algorithms/\.vs/ArrayLeftRotation/v15/\.suo

algorithms/\.vs/ArrayLeftRotation/v15/Server/sqlite3/db\.lock

algorithms/\.vs/ArrayLeftRotation/v15/Server/sqlite3/storage\.ide

algorithms/\.vs/ArrayLeftRotation/v15/Server/sqlite3/storage\.ide-shm

algorithms/\.vs/ArrayLeftRotation/v15/Server/sqlite3/storage\.ide-wal

algorithms/ArrayLeftRotation\.sln

algorithms/ArrayLeftRotation/ArrayLeftRotation\.csproj

algorithms/ArrayLeftRotation/bin/Debug/netcoreapp2\.0/ArrayLeftRotation\.deps\.json

algorithms/ArrayLeftRotation/bin/Debug/netcoreapp2\.0/ArrayLeftRotation\.dll

algorithms/ArrayLeftRotation/bin/Debug/netcoreapp2\.0/ArrayLeftRotation\.pdb

algorithms/ArrayLeftRotation/bin/Debug/netcoreapp2\.0/ArrayLeftRotation\.runtimeconfig\.dev\.json

algorithms/ArrayLeftRotation/bin/Debug/netcoreapp2\.0/ArrayLeftRotation\.runtimeconfig\.json

algorithms/ArrayLeftRotation/obj/ArrayLeftRotation\.csproj\.nuget\.cache

algorithms/ArrayLeftRotation/obj/ArrayLeftRotation\.csproj\.nuget\.g\.props

algorithms/ArrayLeftRotation/obj/ArrayLeftRotation\.csproj\.nuget\.g\.targets

algorithms/ArrayLeftRotation/obj/Debug/netcoreapp2\.0/ArrayLeftRotation\.AssemblyInfo\.cs

algorithms/ArrayLeftRotation/obj/Debug/netcoreapp2\.0/ArrayLeftRotation\.AssemblyInfoInputs\.cache

algorithms/ArrayLeftRotation/obj/Debug/netcoreapp2\.0/ArrayLeftRotation\.csproj\.CoreCompileInputs\.cache

algorithms/ArrayLeftRotation/obj/Debug/netcoreapp2\.0/ArrayLeftRotation\.csproj\.FileListAbsolute\.txt

algorithms/ArrayLeftRotation/obj/Debug/netcoreapp2\.0/ArrayLeftRotation\.csprojResolveAssemblyReference\.cache

algorithms/ArrayLeftRotation/obj/Debug/netcoreapp2\.0/ArrayLeftRotation\.dll

algorithms/ArrayLeftRotation/obj/Debug/netcoreapp2\.0/ArrayLeftRotation\.pdb

algorithms/ArrayLeftRotation/obj/project\.assets\.json
